body{
  background:url("https://images.unsplash.com/photo-1536724609414-5f000e9a2745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80");
  background-size:cover;
  background-position:center;
  font-family: 'Montserrat',sans-serif;
}
h1{
  color:#DA2F0A;
}
h3{
  color: purple;
}
.content{
  text-align: center;
  padding-top: 23%;
  text-shadow: 4px 2px 3px blcak;
}
hr{
  color: black dark 8px;
}
.navbar-nav{
  padding: 10px;
  color:#DA2F0A;
  }
